<h3>An occuted processing your request</h3>
<h5>Please contact us on email: blq blq blq.com</h5>
<h3>eXCEPTION dETAILS</h3>
<div class="alert alert-danger">
    <h5>Exception path</h5><hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5><hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <p>@ViewBag.StackTrace</p>
</div>