@if (ViewBag.ErrorTitle = null)
{
    <h3>An occuted processing your request</h3>
    <h5>Please contact us on email: blqblq@blq.com</h5>
    <h3>Exception Details</h3>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}

