
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permision to view this resouse</h6>
    <img src="~/images/Access Denied.jpg" style="width:700px; height:700px;"/> 
</div>